entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

log:
  level: INFO

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: ops@your-domain.com
      storage: /acme.json
      httpChallenge:
        entryPoint: web
